// Заголовки, общие БЄМ блоки и проче...
.section {
	@include adaptiveValue("padding-top", 85, 60);
	&__title {
		font-weight: 700;
		font-size: 54px;
		@include adaptiveValue("font-size", 54, 32);
		line-height: 150%;
	}
}

.title-purple {
	color: #550a8f;
}
