// Заголовки, общие БЄМ блоки и проче...
.section {
	@include adaptiveValue("padding-top", 85, 60);
	&__text-box {
		margin-bottom: 50px;
		max-width: 624px;
	}

	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 54, 32);
		line-height: 150%;
	}
}

.title-purple {
	color: #550a8f;
}
